body{
    font-family: sans-serif;
    font-size:16px ;
    color: #445;
}

ul,li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
form ul li{
    margin: 10px 20px;
}
 #pswd_info{
     position: absolute;
     margin-left: 200px;
     width: 400px;
     padding: 15px;
     background: #fefefe;
     font-size: 16px;
     border-radius: 5px;
     box-shadow: 0 1px 3px #ccc;
     border: 1px solid #ddd;
     display: none;
 }
#username_msg{
    position: absolute;
    margin-left: 200px;
    width: 400px;
    padding: 15px;
    background: #fefefe;
    
    border-radius: 5px;
    box-shadow: 0 1px 3px #ccc;
    border: 1px solid #ddd;
    display: none;
    font-weight: bold;
    font-size: 16px;
}
 #pswd_info::before{
     content: "\25B2";
     position: absolute;
     top: -12px;
     left: 45%;
     font-size: 16px;
     line-height: 14px;
     color: #ddd;
     text-shadow: none;

 }
#username_msg::before{
    content: "\25B2";
    position: absolute;
    top: -12px;
    left: 45%;
    font-size: 14px;
    line-height: 14px;
    color: #ddd;
    text-shadow: none;

}

.invalid:before{
     content: "X ";
     font-weight:bold;
 }
 .valid:before{
     content: "Y ";
     font-weight: bold;
 }
 .invalid{
     padding-left: 22px;
     line-height: 24px;
     color: #ec3f41;
 }
.valid{
    padding-left: 22px;
    line-height: 24px;
    color: #3a7d34;
}